@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url(/Storage/fonts/Montserrat-ThinItalic.ttf);
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url(/Storage/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url(/Storage/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url(/Storage/fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(/Storage/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url(/Storage/fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(/Storage/fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/Storage/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url(/Storage/fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(/Storage/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url(/Storage/fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(/Storage/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url(/Storage/fonts/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Montserrat-Black";
    src: url(/Storage/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url(/Storage/fonts/Montserrat-BlackItalic.ttf);
}

